* {
  font-family: 'Roboto';
}

.login-page-bg {
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  height: 350px;
  padding: 30px;
  border-radius: 10px;
}

.user-inputs-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.websiteLogo {
  width: 100px;
  margin-bottom: 30px;
}

.logo-container {
  text-align: center;
}
.input-heading {
  color: #f8fafc;
  font-size: 13px;
  margin-bottom: 5px;
}

.input-element {
  height: 40px;
  background-color: transparent;
  padding-left: 5px;
  border: 1px solid #64748b;
  border-radius: 3px;
  outline: none;
  margin-bottom: 15px;
  color: #64748b;
}

.login-btn {
  background-color: #6366f1;
  color: white;
  border: 0px none;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.error-msg {
  color: #ff0b37;
  font-size: 13px;
  margin-top: 0px;
  padding-top: 0px;
}
