.jobs-route-bg {
  background-color: black;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 360px;
}
.jobs-route-section {
  padding: 10px;
}

.leftSide-banner-section {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-left: 30px;
}

.jobs-page-container {
  display: flex;
  min-width: 100vw;
}

@media screen and (max-width: 767px) {
  .jobs-page-container {
    display: flex;
    flex-direction: column;
  }
}

.jobs-list-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  padding-top: 15px;
}

.jobs-lists-container {
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .jobs-lists-container {
    margin-left: 0px;
    padding-left: 0px;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 70vw;
}
.searchContainer {
  border: 1px solid #475569;
  width: 402px;
  padding-left: 0px;
  margin-left: 55px;
  border-radius: 3px;
  padding: 0px;
}

.search-input-element {
  background-color: transparent;
  color: white;
  outline: none;
  border: 0px none;
  height: 35px;
  width: 350px;
  padding-left: 5px;
}

@media screen and (max-width: 767px) {
  .searchContainer-sm {
    border: 1px solid #475569;
    padding-left: 0px;
    border-radius: 3px;
    padding: 0px;
    margin-left: 0px;
    width: 290px;
    margin-bottom: 20px;
  }
  .search-input-element-sm {
    width: 238px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 0px none;
    height: 35px;
    padding-left: 5px;
  }
  .searchContainer {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .searchContainer-sm {
    display: none;
  }
}

.search-btn {
  background-color: #272727;
  height: 35px;
  width: 50px;

  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.noJobsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
}

.no-jobs-heading {
  color: white;
}
.no-jobs-description {
  color: white;
}
.noJobs-img {
  width: 500px;
}
