.home-route-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
  min-width: 360px;
}

.home-page-heading {
  color: white;
  font-size: 55px;
}
@media screen and (max-width: 767px) {
  .home-page-heading {
    font-size: 30px;
  }
}
.home-page-section {
  padding: 25px;
}

.home-page-description {
  color: white;
  font-size: 20px;
  width: 500px;
}

@media screen and (max-width: 767px) {
  .home-page-description {
    font-size: 15px;
    line-height: 25px;
    width: 300px;
  }
}

.findJobs-btn {
  background-color: #6366f1;
  border: 0px none;
  height: 45px;
  width: 130px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
